extends layout

block content
  h1 Twitter Candidates #[small Polling the 2016 Presidential Race with Twitter]
  .row#map-title
    .col-md-6
      h2 Map #[small Share of Positive Tweets by State]
    .col-md-6.pull-right.key
      p Hilary Clinton  #[i.fa.fa-square#clinton-color(aria-hidden='true')]
      p Donald Trump  #[i.fa.fa-square#trump-color(aria-hidden='true')]
  .row#map-row
    .col-md-12
      #states-map
  .row.graphs-header
    .col.md-6
      h2 Graphs
      div
        p  Displaying data from the past 
        .dropdown
          a.dropdown-toggle#intervalDropdown(data-toggle='dropdown', aria-haspopup='true', aria-expanded='true') Hour 
            span.caret
          ul.dropdown-menu(aria-lavelledby='intervalDropdown')
            li#hour(data-interval='hour') #[a Hour]
            li#day(data-interval='day') #[a Day]
            li#week(data-interval='week') #[a Week]
            li#monthly(data-interval='month') #[a Month]
    .col-md-6.pull-right.key
      p Hilary Clinton  #[i.fa.fa-square#clinton-color(aria-hidden='true')]
      p Donald Trump  #[i.fa.fa-square#trump-color(aria-hidden='true')]
  .row
    .col-md-6
      h4 Popularity #[small Number of Tweets Per Hour]
      #tweets.ct-chart.ct-square
    .col-md-6
      h4 Sentiment #[small Percentage of Positive Tweets]
      #sentiment.ct-chart.ct-square

    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
    // Latest compiled and minified Bootstrap JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script(src='//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js')
    script(src='https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js')
    script(src='/vendor/moment.js')
    script(src='/vendor/lodash.js')
    script(src='/js/index.js')