extends layout

block content
  h1 Candidates #[small Polling the 2016 Presidential Race with Twitter]
  .row
    .col.md-12
      .btn-group.btn-group-sm(role='group' aria-label='Change frequency of graph')
        button#hour.btn.btn-default(type='button' data-interval='hour') Hour
        button#day.btn.btn-default(type='button' data-interval='day') Day
        butotn#week.btn.btn-default(type='button' data-interval='week') Week
        button#monthly.btn.btn-default(type='button' data-interval='month') Month
  .row
    .col-md-6
      h3 Popularity #[small Number of Tweets Per Hour]
      #tweets.ct-chart.ct-square
    .col-md-6
      h3 Sentiment #[small Percentage of Positive Tweets]
      #sentiment.ct-chart.ct-square

    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
    // Latest compiled and minified Bootstrap JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script(src='//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js')
    script(src='/vendor/moment.js')
    script(src='/vendor/lodash.core.js')
    script(src='/js/index.js')