extends layout

block content
  h1= title
  .row
    .col.md-4
      .btn-group.btn-group-sm(role='group' aria-label='Change frequency of graph')
        button#hourly.btn.btn-default(type='button') Hourly
        button#daily.btn.btn-default(type='button') Daily
        button#monthly.btn.btn-default(type='button') Monthly
  .row
    .col-md-6
      #tweets.ct-chart.ct-golden-section
    .col-md-6
      #sentiment.ct-chart.ct-golden-section

    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
    // Latest compiled and minified Bootstrap JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script(src='//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js')
    script(src='/vendor/moment.js')
    script(src='/js/index.js')