@import 'chartist-settings';
@import 'chartist';

@import 'colors';

$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
  background: $background-color;
  font-family: $font-stack;
}

.btn-group {
  padding-left: 15px;
  padding-right: 15px;
}

#states-map {
  height: 500px;
}

.graphs-header .dropdown {
  display: inline;
}

.graphs-header p, .graphs-header div, .graphs-header h2 {
  display: inline;
  margin-left: 3px;
}

.graphs-header {
  margin-top: 20px;
  margin-bottom: 10px;
}

.graphs-header .key {
  margin-top : 10px;
}

.key {
  text-align: right;
}

#trump-color {
  color: $red;
}

#clinton-color {
  color: $blue;
}

#map-title i {
  font-size: 18px;
}